<div ng-controller="ApplicationCtrl as application">

  <div ng-if="application.me">

    <form ng-submit="application.submit()">
      <label>
        Name
        <input type="text" ng-model="application.name" placeholder="John Doe">
      </label>

      <input type="text" ng-model="application.school">
      <input type="phone" ng-model="application.phone">
      <select ng-model="application.shirt">
        <option value="S">Small</option>
        <option value="M">Medium</option>
        <option value="L">Large</option>
        <option value="XL">X-Large</option>
      </select>

      <input type="text">

      <input type="" ng-model="">
      <input type="" ng-model="">
      <input type="" ng-model="">
      <input type="" ng-model="">
      <input type="" ng-model="">
      <input type="" ng-model="">
      <input type="" ng-model="">
      <input type="" ng-model="">
    </form>

  </div>

</div>