<div ng-controller="ApplicationCtrl as application" class="small-12 columns">

  <requirelogin user="application.me" error="true">

    <div class="row">
      <div class="small-12 columns">
        <p><a href="/#/">Home</a></p>
      </div>
    </div>

    <!-- Errors, if there are any -->
    <div ng-if="application.errors">
      <div data-alert class="alert-box alert">
        <span ng-repeat="error in application.errors">{{error}}<br></span>
        <a href="#" class="close">&times;</a>
      </div>
    </div>

    <!-- The application form -->
    <form ng-submit="application.submit()" novalidate class="validation">

      <!-- Name -->
      <div class="row">
        <label class="small-12 large-6 columns">
          First Name
          <input type="text" ng-model="application.name.first" placeholder="John" required>
        </label>
        <label class="small-12 large-6 columns">
          Last Name
          <input type="text" ng-model="application.name.last" placeholder="Doe" required>
        </label>
      </div>

      <!-- Phone -->
      <div class="row">
        <label class="small-12 columns">
          Phone Number
          <input type="text" ng-model="application.phone" placeholder="555-555-5555" required>
        </label>
      </div>

      <!-- School -->
      <div class="row">
        <label class="small-12 columns">
          School
          <input type="text" ng-model="application.school" placeholder="State University" required>
        </label>
      </div>

      <!-- Shirt size -->
      <div class="row">
        <label class="small-12 columns">
          Shirt Size
          <select ng-model="application.shirt" required>
            <option value="S">Small</option>
            <option value="M" selected>Medium</option>
            <option value="L">Large</option>
            <option value="XL">X-Large</option>
          </select>
        </label>
      </div>

      <!-- Dietary restrictions -->
      <div class="row">
        <label class="small-12 columns">Select any dietary restrictions you have:</label>
        <label ng-repeat="restriction in application.diet.possible" class="small-12 columns">
          <input
            type="checkbox"
            name="selectedRestrictions[]"
            value="{{restriction}}"
            ng-checked="application.diet.selected.indexOf(restriction) > -1"
            ng-click="application.diet.toggleSelection(restriction)"
          > {{restriction}}
        </label>
      </div>

      <!-- Age and Gender -->
      <div class="row">
        <label class="small-12 large-6 columns">
          How old are you?
          <input type="text" ng-model="application.age" required>
        </label>

        <label class="small-12 large-6 columns">
          Gender:
          <select ng-model="application.gender" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
        </label>
      </div>

      <!-- Year in school -->
      <div class="row">
        <label class="small-12 large-6 columns">
          What is your year in school?
          <select ng-model="application.year" required>
            <option value="High School">High School</option>
            <option value="Freshman">Freshman</option>
            <option value="Sophomore">Sophomore</option>
            <option value="Junior">Junior</option>
            <option value="Senior">Senior</option>
          </select>
        </label>

        <!-- First hackathon? -->
        <label class="small-12 large-6 columns">
          Is this your first hackathon?
          <select ng-model="application.first" required>
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </label>
      </div>

      <!-- Major -->
      <div class="row">
        <label class="small-12 columns">
          What is your major?
          <input type="text" ng-model="application.major" required>
        </label>
      </div>

      <!-- Travel reimbursement -->
      <div class="row">
        <label class="small-12 columns">
          Will you require travel reimbursement?
          <select ng-model="application.travel" required>
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </label>
      </div>

      <!-- Demographic release -->
      <div class="row">
        <label class="small-12 columns">
          <input type="checkbox" ng-model="application.demographic" value="true" required>
          I agree to allow my demographic information to be used anonymously to improve hackathons.
          <br>
        </label>
      </div>

      <!-- Code of conduct -->
      <div class="row">
        <label class="small-12 columns">
          <input type="checkbox" ng-model="application.conduct" value="true" required>
          I agree to the <a href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">MLH Code of Conduct</a>
          <br>
        </label>
      </div>

      <!-- Event waiver -->
      <div class="row">
        <label class="small-12 columns">
          <input type="checkbox" ng-model="application.waiver" value="true" required>
          I agree to this event waiver.
          <br>
        </label>
      </div>

      <!-- Submit button -->
      <div class="row">
        <div class="small-12 columns">
          <button>Submit</button>
        </div>
      </div>

    </form>

  </requirelogin>

</div>
