<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Your Kent Hack Enough registration has been approved!</title>
        <link href="./styles.css" rel="stylesheet" type="text/css">
        <style>
            .accepted-card {
                background-color: #4bdc4b; 
                color: white; 
                text-align: center;
            }
            .discord-invite {
                display: block;
                margin: 0.75em;
                font-size: 1.2em;
            }
        </style>
    </head>
    <body>
        <div class="background">
            <div class="squiggly-back"></div>
        </div>
        
        <div class="logo-container">
            <img class="logo" src="https://khe.io/Anniversary_Logo.svg">
        </div>
        
        <div class="center-card">
            <div class="inner-card accepted-card">
                Your Kent Hack Enough registration has been approved!
            </div>

            <div class="section hr-bottom">
                <h2>Join our Discord to participate!</h2>
                <p>
                    Use this invite to participate in Kent Hack Enough 2021!
                </p>
                <a class="discord-invite" href="https://hacksu.com/discord">
                    https://hacksu.com/discord
                </a>
            </div>
            <div class="section hr-bottom">
                <h2>Looking for a Job or Internship?</h2>
                <p>
                    Make sure your resume is attached to your application
                    if you are looking for full time jobs or internships!
                    You can edit your application by going to
                    <a href="https://khe.io/apply">khe.io/apply</a>
                    when <a href="https://khe.io/login">logged in</a>.
                </p>
            </div>
            <div class="section">
                <h2>See you on December 4th!</h2>
                <p>
                    Feel free to 
                    <a href="https://khe.io/contact">contact us</a>
                    if you have any questions!
                </p>
            </div>
            
        </div>
        <p class="mail-disclaimer">
            You are receiving this email because
            you signed up for Kent Hack Enough 2021
        </p>

    </body>
</html>