<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta  name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0," />
	<title>Welcome to Kent Hack Enough!</title>

	<link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>

	<style type="text/css">
	* {
		font-family: 'Abel', sans-serif;
	}

	p {
		font-size: 16px;
		line-height: 22px;
	}

</style>
</head>

<body>
	<table border="0" cellpadding="40" cellspacing="0" height="100%" width="100%" id="bodyTable" style="background-color: #111; font-family: 'Abel', sans-serif; font-size: 16px;"> 
		<tr>
			<td align="center" valign="top">
				<table border="0" cellpadding="0" cellspacing="20" width="768" id="emailContainer" style="background-color: #51082B; z-index: 20;">
					<tr>
						<td align="center" valign="top">
							<img src="https://khe.io/img/shortLogoCenter.png" align="center" width="325" height="226">
						</td>
					</tr>
					<tr>
						<td align="left">
							<h1 style="color: #F7961D;">Welcome to Kent Hack Enough!</h1>
							<p style="color: #FFF; text-align: left;">We're so glad you're here. Please take the time to read this over for some important information you'll need during the event.</p>
						</td>
					</tr>
					<tr>
						<td align="left">
							<h2 style="color: #F7961D;">Bracelets and Photo ID</h2>
							<p style="color: #FFF; text-align: left;">Please wear your bracelets at all times. You will only be permitted to take food/drinks/snacks if you are wearing your bracelet. Also, if you leave the building at any time during the event, be sure to bring your photo ID with you. Security will not allow you back into the event unless you have a valid photo ID.</p>
						</td>
					</tr>
					<tr>
						<td align="left">
							<h2 style="color: #F7961D;">Event WiFi</h2>
							<p style="color: #FFF;">Event WiFi is provided by Kent State. All attendees should use this network, even if you attend Kent State University.</p>
							<p style="color: #FFF;"><b>SSID:</b> KSUEvent</p>
							<p style="color: #FFF;"><b>Password:</b> Hack2016</b>
							</td>
						</tr>
						<tr>
							<td align="left">
								<h2 style="color: #F7961D;">Getting Around</h2>
								<p style="color: #FFF;">We know it can be confusing to find your way in an unfamiliar place! Specific locations of every event can be found on <a href="https://khe.io/schedule" style="color: #5AC2AE;">our schedule</a>, but here's a brief overview of the important stuff:</p>

								<p style="color: #FFF;">Library 1st Floor: Check-in, opening ceremony, special events</p>

								<p style="color: #FFF;">Library 2nd Floor: Food, drinks, sponsors, help desk</p>

								<p style="color: #FFF;">Library 4th Floor: Hacking space</p> 

								<p style="color: #FFF;">There are also signs all over the library pointing you to specific locations and events. Ask a volunteer if you can't find something!</p>
							</td>
						</tr>
						<tr>
							<td align="left">
								<h2 style="color: #F7961D;">Questions?</h2>
								<p style="color: #FFF;">If you have any questions at all, please don't hesitate to ask a volunteer. There will also be a help desk manned by volunteers during the entire event on the 2nd floor, next to the food area. Volunteers will also be scattered throughout the library (the people in the awesome maroon t-shirts), so please feel free to ask them anything.</p>
							</td>
						</tr>
						<tr>
							<td align="left">
								<h2 style="color: #F7961D;">In Case of Emergency</h2>
								<p style="color: #FFF;">If you encounter any kind of life-threatening emergency, please call 911 immediately and then find a volunteer or on-site security guard. For any emergencies that don't fall into this category, please report to on-site security or a volunteer.</p>
							</td>
						</tr>
						<tr>
							<td align="left">
								<h2 style="color: #F7961D;">Code of Conduct</h2>
								<p style="color: #FFF;">We adhere to and enforce the <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" style="color: #5AC2AE;">MLH Code of Conduct</a>. If you in any way feel like someone has violated this document, please report it immediately to a volunteer.</p>
							</td>
						</tr>
						<tr>
							<td align="left">
								<p style="color: #FFF;">Enjoy,</p>
								<h3><b>
									<span style="color: #D21C5A;">Kent </span>
									<span style="color: #F7961D;">Hack </span>
									<span style="color: #5AC2AE;">Enough </span>
									<span style="color: #4D7ABD;">Staff</span>
								</b></h3>
							</td>
						</tr>
					</table>

				</td>
			</tr>
		</table>
	</body>