<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width">
        <title>You have registered for Kent Hack Enough 2021!</title>
        <link href="./styles.css" rel="stylesheet" type="text/css">
        <style>
            .accepted-card {
                background-color: #4bdc4b; 
                color: white; 
                text-align: center;
            }
            .discord-invite {
                display: block;
                margin: 0.75em;
                font-size: 1.2em;
            }
        </style>
    </head>
    <body>
        <div class="background">
            <div class="squiggly-back"></div>
        </div>
        
        <!-- <div class="logo-container">
            <img class="logo" src="https://khe.io/Anniversary_Logo.png">
        </div> -->
        
        <div class="center-card">

            <div class="section hr-bottom">
                <h2 class="first">Thanks for registering for Kent Hack Enough 2022!</h2>
                <p>
                    The hackathon starts on October 15th at 11:00 AM EST
                    and is hosted in-person at the <a href="https://map.concept3d.com/?id=568&tbh&sbh#!m/613809?lh/?ct/44418,5603">
                        Kent State Design Innovation Hub
                    </a>
                </p>
                <p>
                    We'll be sending out event details
                    and a Discord Invite in the last week of September!
                </p>
            </div>
            <div class="section">
                <h2>See you on October 15th!</h2>
                <p>
                    Feel free to 
                    <a href="https://khe.io/contact">contact us</a>
                    if you have any questions!
                </p>
            </div>
            
        </div>
        <p class="mail-disclaimer">
            You are receiving this email because
            you signed up for Kent Hack Enough 2022
        </p>

    </body>
</html>