extends ../template

block content
  h1 Hello,
  p
    | Sorry you had to reset your password. Go to <a href="http://khe.io/password/reset">khe.io/password/reset</a>
    | and enter this token: "#{token}"
  p
    | Regards, <br>
    | The Kent Hack Enough Team