<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/#/staff"><strong>Kent Hack Enough</strong> Staff</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li><a href="/#/staff/attendees">Attendees</a></li>
      <li><a href="/#/staff/emails">Emails</a></li>
      <li><a href="/#/staff/tickets">Tickets</a></li>
      <li><a href="/#/staff/live">Live</a></li>
      <li><a href="/#/staff/tools">Tools</a></li>
    </ul>
  </section>
</nav>
