<div ng-controller="StaffAttendeesCtrl as att">
  <requirestaff user="att.user" error="true">
    <staffheader></staffheader>
    <staffsidebar>
      <li><a ng-click="att.all()">All</a></li>
      <li><a ng-click="att.applied()">Applied</a></li>
      <li><a ng-click="att.going()">Going</a></li>
      <li><a ng-click="att.approved()">Approved</a></li>
      <li><a ng-click="att.waitlisted()">Waitlisted</a></li>
      <li><a ng-click="att.pending()">Pending</a></li>
      <li><a ng-click="att.denied()">Denied</a></li>
      <li class="divider"></li>
      <li><a href="/#/staff/attendees/checkin">Check In</a></li>
    </staffsidebar>

    <br>
    <div class="small-12 large-9 columns">

      <!-- Search box -->
      <div class="row">
        <input type="text" ng-model="query" placeholder="Search by name, email, school, phone, or any other user attribute">
      </div>

      <!-- Each user with submitted application -->
      <div class="row expandable-list-item" ng-repeat="user in att.current | filter:query | orderBy:'application.time':true" ng-if="user.application.submitted">
        <!-- Content always shown -->
        <div class="row header cursor-pointer" ng-click="att.toggle(user)">
          <div class="small-9 columns">
            <strong>{{user.application.name}}</strong>
          </div>
          <div class="small-3 columns align-right">
            {{user.application.status|capitalizeFirstLetter}}
          </div>
        </div>
        <!-- Content shown on expansion -->
        <div class="row content" ng-if="att.expanded(user)">
          <div class="small-12 columns">
            <hr>
            <!-- Static information (the user's application) -->
            <div class="row">
              <div class="small-12 large-6 columns">
                <strong>School:</strong> {{user.application.school}}
              </div>
              <div class="small-12 large-6 columns">
                <strong>Year:</strong> {{user.application.year}}
              </div>
              <div class="small-12 large-6 columns">
                <strong>Phone:</strong> {{user.application.phone|formatPhone}}
              </div>
              <div class="small-12 large-6 columns">
                <strong>Age:</strong> {{user.application.age}}
              </div>
              <div class="small-12 large-6 columns">
                <strong>Shirt Size:</strong> {{user.application.shirt}}
              </div>
              <div class="small-12 large-6 columns">
                <strong>Gender:</strong> {{user.application.gender|capitalizeFirstLetter}}
              </div>
              <div class="small-12 large-6 columns">
                <strong>First Hackathon:</strong> {{user.application.first}}
              </div>
              <div class="small-12 large-6 columns">
                <strong>Major:</strong> {{user.application.major}}
              </div>
              <div class="small-12 large-6 columns">
                <strong>Dietary Restrictions:</strong> {{user.application.dietary}}
              </div>
              <div class="small-12 large-6 columns">
                <strong>Travel Reimbursement Required:</strong> {{user.application.travel}}
              </div>
              <div class="small-12 large-6 columns">
                <strong>RSVP:</strong> {{user.application.going}}
              </div>
              <div class="small-12 large-6 columns">
                <strong>Applied:</strong> {{user.application.time|relativeDate}}
              </div>
            </div>
            <hr>
            <!-- Editable information -->
            <div class="row">
              <div class="small-12 large-6 columns">
                <strong>Status:</strong>
                <span ng-if="!user.editingStatus" class="underline cursor-pointer" ng-click="att.editStatus(user)">
                  {{user.application.status|capitalizeFirstLetter}}
                </span>
                <span ng-if="user.editingStatus">
                  <div class="row collapse">
                    <div class="small-8 columns">
                      <select ng-model="user.application.status">
                        <option value="pending">Pending</option>
                        <option value="waitlisted">Waitlisted</option>
                        <option value="denied">Denied</option>
                        <option value="approved">Approved</option>
                      </select>
                    </div>
                    <div class="small-2 columns">
                      <a class="button postfix" ng-click="att.saveStatus(user)">Save</a>
                    </div>
                    <div class="small-2 columns">
                      <a class="button alert postfix" ng-click="att.cancelEditStatus(user)">Cancel</a>
                    </div>
                  </div>
                </span>
              </div>
              <div class="small-12 large-6 columns">
                <strong>Checked In:</strong>
                <span ng-if="!user.editingChecked" class="underline cursor-pointer" ng-click="att.editChecked(user)">
                  {{user.application.checked}}
                </span>
                <span ng-if="user.editingChecked">
                  <div class="row collapse">
                    <div class="small-8 columns">
                      <select ng-model="user.application.checked">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                      </select>
                    </div>
                    <div class="small-2 columns">
                      <a class="button postfix" ng-click="att.saveChecked(user)">Save</a>
                    </div>
                    <div class="small-2 columns">
                      <a class="button alert postfix" ng-click="att.cancelEditChecked(user)">Cancel</a>
                    </div>
                  </div>
                </span>
              </div>
              <div class="small-12 columns">
                <strong>Role:</strong> {{user.role|capitalizeFirstLetter}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Each user that doesn't have a submitted application -->
      <div class="row expandable-list-item" ng-repeat="user in att.current | filter:query | orderBy:'application.time':true" ng-if="!user.application.submitted">
        <!-- Content always shown -->
        <div class="row header">
          <div class="small-9 columns">
            {{user.email}}
          </div>
        </div>
      </div>

    </div>

  </requirestaff>
</div>