<div ng-controller="StaffCheckInCtrl as checkin">

  <requirestaff user="checkin.me" error="true">

    <staffheader></staffheader>

    <staffsidebar>
      <li>
        <span class="large"><strong>Checked In:</strong> {{checkin.count}}</span>
      </li>
      <li>
        <!-- Quick Registration Form -->
        <form name="checkin.quickRegisterForm" ng-submit="checkin.register()" novalidate>
          <fieldset>
            <legend>Quick Register</legend>

            <label>
              Name
              <input type="text" ng-model="checkin.quickApp.name" placeholder="John Doe">
            </label>
            <label>
              Email
              <input type="text" ng-model="checkin.quickApp.email" placeholder="user@example.com">
            </label>
            <label>
              Phone
              <input type="text" ng-model="checkin.quickApp.phone" placeholder="555-555-5555">
            </label>
            <button class="button small">Submit</button>
          </fieldset>
        </form>
      </li>
    </staffsidebar>

    <br>
    <div class="small-12 large-9 columns">

      <!-- Errors, if there are any -->
      <div ng-if="checkin.errors">
        <div data-alert class="alert-box alert">
          <span ng-repeat="error in checkin.errors">{{error}}<br></span>
          <a href="#" class="close">&times;</a>
        </div>
      </div>

      <!-- Search box -->
      <div class="row">
        <input type="text" ng-model="query" placeholder="Search by name, email, school, phone, or any other user attribute">
      </div>

      <!-- Loading circle -->
      <div class="row" ng-if="!checkin.users.length">
        <div class="small-12 columns align-center">
          <br><br>
          <i class="fa fa-refresh fa-spin fa-5x"></i>
        </div>
      </div>

      <!-- Each user with submitted application -->
      <div class="row expandable-list-item" ng-repeat="user in checkin.users | filter:query | orderBy:'application.name':false" ng-if="user.application.submitted">

        <div class="row header cursor-pointer" ng-click="checkin.toggle(user)">
          <div class="small-9 columns">
            {{user.application.name}}
          </div>

          <div class="small-3 columns">
            <div class="switch align-right">
              <input id="{{user._id}}-checked" type="checkbox" ng-model="user.application.checked" ng-click="checkin.toggleChecked(user)">
              <label for="{{user._id}}-checked"></label>
            </div>
          </div>
        </div>

        <div class="row content" ng-if="checkin.expanded(user)">
          <div class="small-12 columns">
            <hr>
            <div class="row">
              <div class="small-12 columns">
                <strong>Email:</strong> {{user.email}}
              </div>
            </div>
            <div class="row">
              <div class="small-12 columns">
                <strong>Phone:</strong> {{user.application.phone}}
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Each user that doesn't have a submitted application -->
      <div class="row expandable-list-item" ng-repeat="user in checkin.users | filter:query | orderBy:'email':false" ng-if="!user.application.submitted">
        <div class="row header cursor-pointer" ng-click="checkin.toggle(user)">
          <div class="small-9 columns">
            {{user.email}}
          </div>
        </div>
        <div class="row content" ng-if="checkin.expanded(user)">
          <div class="small-12 columns">
            <hr>
            <form ng-submit="checkin.saveQuickEdit(user)">
              <!-- Name -->
              <div class="large-5 columns">
                <div class="row collapse prefix-radius">
                  <div class="small-3 columns">
                    <span class="prefix">Name</span>
                  </div>
                  <div class="small-9 columns">
                    <input type="text" placeholder="John Doe" ng-model="user.application.name">
                  </div>
                </div>
              </div>
              <!-- Phone -->
              <div class="large-5 columns">
                <div class="row collapse prefix-radius">
                  <div class="small-3 columns">
                    <span class="prefix">Phone</span>
                  </div>
                  <div class="small-9 columns">
                    <input type="text" placeholder="555-555-5555" ng-model="user.application.phone">
                  </div>
                </div>
              </div>
              <!-- Submit button -->
              <div class="large-2 columns">
                <button class="button postfix">Check In</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>

  </requirestaff>

</div>