<div ng-controller="LiveCtrl as live">

  <requirestaff user="live.me" error="true">

    <staffheader></staffheader>

    <br>
    <div class="row">
      <div class="large-12 columns">

        <!-- New message -->
        <form ng-submit="live.create()">
          <div class="row">
            <div class="large-12 columns">
              <div class="row collapse">
                <div class="small-10 columns">
                  <input type="text" placeholder="Hello, hackers!" ng-model="live.new.text">
                </div>
                <div class="small-2 columns">
                  <button class="button postfix">Send</button>
                </div>
              </div>
            </div>
          </div>
        </form>

        <!-- List of messages -->
        <div ng-repeat="message in live.messages | orderBy:'created':true" class="expandable-list-item">

          <div class="row">

            <div class="large-12 columns content">

              <div class="small-11 columns">
                <span ng-bind-html="message.text|markdown|unsafe"></span>
                <span class="small grey">{{message.created|relativeDate}}</span>
              </div>
              <div class="small-1 columns align-right">
                <a ng-click="live.delete(message)" class="black"><i class="fa fa-trash fa-2x"></i></a>
              </div>

            </div>
          </div>

        </div>

      </div>
    </div>

  </requirestaff>

</div>