<div ng-controller="StaffTicketCtrl as ctrl">
  <requirestaff user="ctrl.me" error="true">

    <staffheader></staffheader>
    <staffsidebar>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </staffsidebar>

    <br>
    <div class="small-9 columns">

      <div ng-repeat="ticket in ctrl.tickets | orderBy:'created':true" class="row expandable-list-item">
        <!-- Header -->
        <div class="row header cursor-pointer" ng-click="ctrl.toggle(ticket)">
          <div class="small-9 columns">
            <strong>{{ticket.subject}}</strong>
          </div>
          <div class="small-3  columns align-right">
            <span ng-bind="ctrl.prettifyStatus(ticket)"></span>
          </div>
        </div>
        <!-- Content -->
        <div class="row content" ng-if="ctrl.expanded(ticket)">
          <div class="small-12 columns">
            <hr>
            <!-- Reply to -->
            <div class="row">
              <div class="small-2 columns">
                <strong>Reply to:</strong>
              </div>
              <div class="small-10 columns">
                <a href="mailto:{{ticket.replyTo}}">{{ticket.replyTo}}</a>
              </div>
            </div>
            <!-- Status -->
            <div class="row">
              <div class="small-2 columns">
                <strong>Status:</strong>
              </div>
              <div class="small-10 columns">
                <span ng-bind="ctrl.prettifyStatus(ticket)"></span>
              </div>
            </div>
            <!-- Body -->
            <div class="row">
              <div class="small-2 columns">
                <strong>Body:</strong>
              </div>
              <div class="small-10 columns">
                {{ticket.body}}
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </requirestaff>
</div>