<staffheader></staffheader>

<div class="row" ng-controller="StaffController">
  <div class="column small-3">
    <ul class="side-nav">
      <li><a ng-click="all()">All</a></li>
      <li><a ng-click="applied()">Applied</a></li>
      <li><a ng-click="approved()">Approved</a></li>
      <li><a ng-click="rsvp()">RSVPs</a></li>
      <li><a ng-click="travel()">Travel Requests</a></li>
    </ul>
  </div>

  <table class="small-9 columns">
    <tbody>

      <tr
          ng-if="user.application.submitted"
          ng-repeat="user in users | orderBy:'application.time':true"
          ng-click="select(user)"
      >
        <td>
          <span class="bold large">{{user.application.name}}</span><br>
          <span class="grey">{{user.application.school}}</span>
        </td>
        <td class="align-right">
          <span class="large">{{user.application.status[0].toUpperCase() + user.application.status.slice(1)}}</span>
        </td>
      </tr>

      <tr ng-if="!user.application.submitted" ng-repeat="user in users | orderBy:'time':true">
        <td>{{user.email}}</td>
        <td class="align-right">{{user.role[0].toUpperCase() + user.role.slice(1)}}</td>
      </tr>

    </tbody>
  </table>
</div>