extends ../template

block content
  h1 Hello, #{name.first}.
  h3 Thanks for applying to Kent Hack Enough.
  p
    | Congratulations, you just registered for the party of hackathons! You'll be
    | hearing from us soon with a decision about your acceptance.
  p
    | Regards, <br>
    | The Kent Hack Enough Team