.bold {
  font-weight: bold;
}

.large {
  font-size: 1.2em;
}

.grey {
  color: #4d4e51;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.cursor-pointer {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

.validation input.ng-valid, .validation select.ng-valid {
  background-color: #e6fdeb;
}

.validation input.ng-touched.ng-invalid, .validation select.ng-touched.ng-invalid {
  background-color: #faede7;
}

.sidebar {
  background-color: #FAFAFA;
  border: 1px solid #F4F4F4;
}

.expandable-list-item {
  margin-top: 1em;
  padding: 1em;
  background-color: #FAFAFA;
  border: 1px solid #F4F4F4;
}

.expandable-list-item .header {
  font-size: 1.2em;
  cursor: pointer;
}