.bold {
  font-weight: bold;
}

.large {
  font-size: 20px;
}

.grey {
  color: #4d4e51;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.validation input.ng-valid, .validation select.ng-valid {
  background-color: #e6fdeb;
}

.validation input.ng-touched.ng-invalid, .validation select.ng-touched.ng-invalid {
  background-color: #faede7;
}

.sidebar {
  background-color: #FAFAFA;
}

.username {
  cursor: pointer;
}