extends ../template

block content
  h1 Kent Hack Enough
  p
    | Thanks for signing up! Please be sure to complete your application
    | <a href="http://khe.io/application">here.</a>
  p
    | Regards, <br>
    | The Kent Hack Enough Team